body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:67px;
}
#u10135 {
  position:absolute;
  left:295px;
  top:107px;
  width:41px;
  height:66px;
  font-size:14px;
}
#u10136 {
  position:absolute;
  left:2px;
  top:25px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10137 {
  position:absolute;
  left:301px;
  top:188px;
  width:29px;
  height:16px;
}
#u10138 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u10139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:67px;
}
#u10139 {
  position:absolute;
  left:1371px;
  top:107px;
  width:41px;
  height:66px;
  font-size:14px;
}
#u10140 {
  position:absolute;
  left:2px;
  top:25px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10141 {
  position:absolute;
  left:1370px;
  top:188px;
  width:43px;
  height:16px;
}
#u10142 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u10143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u10143 {
  position:absolute;
  left:652px;
  top:100px;
  width:60px;
  height:80px;
}
#u10144 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10145 {
  position:absolute;
  left:633px;
  top:188px;
  width:99px;
  height:16px;
}
#u10146 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u10147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10147 {
  position:absolute;
  left:245px;
  top:262px;
  width:142px;
  height:83px;
}
#u10148 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10149 {
  position:absolute;
  left:612px;
  top:262px;
  width:142px;
  height:83px;
}
#u10150 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u10151 {
  position:absolute;
  left:1004px;
  top:100px;
  width:60px;
  height:80px;
}
#u10152 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10153 {
  position:absolute;
  left:1000px;
  top:188px;
  width:71px;
  height:16px;
}
#u10154 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10155 {
  position:absolute;
  left:965px;
  top:262px;
  width:142px;
  height:83px;
}
#u10156 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10157 {
  position:absolute;
  left:965px;
  top:423px;
  width:142px;
  height:83px;
}
#u10158 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10159 {
  position:absolute;
  left:245px;
  top:423px;
  width:142px;
  height:83px;
}
#u10160 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:97px;
}
#u10161 {
  position:absolute;
  left:955px;
  top:767px;
  width:162px;
  height:97px;
}
#u10162 {
  position:absolute;
  left:2px;
  top:41px;
  width:158px;
  word-wrap:break-word;
}
#u10163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10163 {
  position:absolute;
  left:245px;
  top:774px;
  width:142px;
  height:83px;
}
#u10164 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10165 {
  position:absolute;
  left:142px;
  top:1097px;
  width:142px;
  height:83px;
}
#u10166 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10167 {
  position:absolute;
  left:612px;
  top:774px;
  width:142px;
  height:83px;
}
#u10168 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10169 {
  position:absolute;
  left:142px;
  top:945px;
  width:142px;
  height:83px;
}
#u10170 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10171 {
  position:absolute;
  left:349px;
  top:945px;
  width:142px;
  height:83px;
}
#u10172 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10173 {
  position:absolute;
  left:245px;
  top:590px;
  width:142px;
  height:83px;
}
#u10174 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10175 {
  position:absolute;
  left:1321px;
  top:254px;
  width:142px;
  height:83px;
}
#u10176 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:97px;
}
#u10177 {
  position:absolute;
  left:1311px;
  top:416px;
  width:162px;
  height:97px;
}
#u10178 {
  position:absolute;
  left:2px;
  top:41px;
  width:158px;
  word-wrap:break-word;
}
#u10179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10179 {
  position:absolute;
  left:1321px;
  top:602px;
  width:142px;
  height:83px;
}
#u10180 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10181 {
  position:absolute;
  left:1561px;
  top:423px;
  width:142px;
  height:83px;
}
#u10182 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10183 {
  position:absolute;
  left:245px;
  top:1269px;
  width:142px;
  height:83px;
}
#u10184 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10185 {
  position:absolute;
  left:245px;
  top:1421px;
  width:142px;
  height:83px;
}
#u10186 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10187 {
  position:absolute;
  left:965px;
  top:1097px;
  width:142px;
  height:83px;
}
#u10188 {
  position:absolute;
  left:2px;
  top:34px;
  width:138px;
  word-wrap:break-word;
}
#u10189 {
  position:absolute;
  left:387px;
  top:304px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10189_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:229px;
  height:8px;
}
#u10189_seg1 {
  position:absolute;
  left:211px;
  top:-10px;
  width:21px;
  height:20px;
}
#u10190 {
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10191 {
  position:absolute;
  left:754px;
  top:304px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10191_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:215px;
  height:8px;
}
#u10191_seg1 {
  position:absolute;
  left:197px;
  top:-10px;
  width:21px;
  height:20px;
}
#u10192 {
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10193 {
  position:absolute;
  left:1036px;
  top:345px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10193_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u10193_seg1 {
  position:absolute;
  left:-10px;
  top:64px;
  width:20px;
  height:21px;
}
#u10194 {
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10195 {
  position:absolute;
  left:965px;
  top:465px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10195_seg0 {
  position:absolute;
  left:-578px;
  top:-4px;
  width:582px;
  height:8px;
}
#u10195_seg1 {
  position:absolute;
  left:-585px;
  top:-10px;
  width:21px;
  height:20px;
}
#u10196 {
  position:absolute;
  left:-339px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10197 {
  position:absolute;
  left:1036px;
  top:506px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10197_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:265px;
}
#u10197_seg1 {
  position:absolute;
  left:-10px;
  top:247px;
  width:20px;
  height:21px;
}
#u10198 {
  position:absolute;
  left:-50px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10199 {
  position:absolute;
  left:245px;
  top:304px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10199_seg0 {
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u10199_seg1 {
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:336px;
}
#u10199_seg2 {
  position:absolute;
  left:-45px;
  top:324px;
  width:45px;
  height:8px;
}
#u10199_seg3 {
  position:absolute;
  left:-14px;
  top:318px;
  width:21px;
  height:20px;
}
#u10200 {
  position:absolute;
  left:-91px;
  top:156px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10201 {
  position:absolute;
  left:955px;
  top:816px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10201_seg0 {
  position:absolute;
  left:-201px;
  top:-4px;
  width:205px;
  height:8px;
}
#u10201_seg1 {
  position:absolute;
  left:-208px;
  top:-10px;
  width:21px;
  height:20px;
}
#u10202 {
  position:absolute;
  left:-150px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u10203 {
  position:absolute;
  left:612px;
  top:816px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10203_seg0 {
  position:absolute;
  left:-225px;
  top:-4px;
  width:229px;
  height:8px;
}
#u10203_seg1 {
  position:absolute;
  left:-232px;
  top:-10px;
  width:21px;
  height:20px;
}
#u10204 {
  position:absolute;
  left:-162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10205 {
  position:absolute;
  left:1117px;
  top:816px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10205_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u10205_seg1 {
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:503px;
}
#u10205_seg2 {
  position:absolute;
  left:-730px;
  top:491px;
  width:789px;
  height:8px;
}
#u10205_seg3 {
  position:absolute;
  left:-737px;
  top:485px;
  width:21px;
  height:20px;
}
#u10206 {
  position:absolute;
  left:-113px;
  top:486px;
  width:100px;
  word-wrap:break-word;
}
#u10207 {
  position:absolute;
  left:316px;
  top:1352px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10207_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u10207_seg1 {
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:21px;
}
#u10208 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10209 {
  position:absolute;
  left:387px;
  top:632px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10209_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:653px;
  height:8px;
}
#u10209_seg1 {
  position:absolute;
  left:645px;
  top:-4px;
  width:8px;
  height:139px;
}
#u10209_seg2 {
  position:absolute;
  left:639px;
  top:121px;
  width:20px;
  height:21px;
}
#u10210 {
  position:absolute;
  left:342px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10211 {
  position:absolute;
  left:213px;
  top:1028px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10211_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u10211_seg1 {
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:21px;
}
#u10212 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10213 {
  position:absolute;
  left:420px;
  top:1028px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10213_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:115px;
}
#u10213_seg1 {
  position:absolute;
  left:-4px;
  top:107px;
  width:549px;
  height:8px;
}
#u10213_seg2 {
  position:absolute;
  left:531px;
  top:101px;
  width:21px;
  height:20px;
}
#u10214 {
  position:absolute;
  left:167px;
  top:103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10215 {
  position:absolute;
  left:1036px;
  top:1097px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10215_seg0 {
  position:absolute;
  left:-4px;
  top:-233px;
  width:8px;
  height:237px;
}
#u10215_seg1 {
  position:absolute;
  left:-10px;
  top:-240px;
  width:20px;
  height:21px;
}
#u10216 {
  position:absolute;
  left:-50px;
  top:-124px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10217 {
  position:absolute;
  left:387px;
  top:1463px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10217_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1345px;
  height:8px;
}
#u10217_seg1 {
  position:absolute;
  left:1337px;
  top:-1171px;
  width:8px;
  height:1175px;
}
#u10217_seg2 {
  position:absolute;
  left:1076px;
  top:-1171px;
  width:269px;
  height:8px;
}
#u10217_seg3 {
  position:absolute;
  left:1069px;
  top:-1177px;
  width:21px;
  height:20px;
}
#u10218 {
  position:absolute;
  left:1291px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10219 {
  position:absolute;
  left:1392px;
  top:337px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10219_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u10219_seg1 {
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:21px;
}
#u10220 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10221 {
  position:absolute;
  left:1473px;
  top:465px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10221_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u10221_seg1 {
  position:absolute;
  left:74px;
  top:-10px;
  width:21px;
  height:20px;
}
#u10222 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u10223 {
  position:absolute;
  left:1392px;
  top:513px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10223_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u10223_seg1 {
  position:absolute;
  left:-10px;
  top:75px;
  width:20px;
  height:21px;
}
#u10224 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u10225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:83px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10225 {
  position:absolute;
  left:245px;
  top:1575px;
  width:142px;
  height:83px;
}
#u10226 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u10227 {
  position:absolute;
  left:316px;
  top:1504px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10227_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u10227_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:21px;
}
#u10228 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:32px;
}
#u10229 {
  position:absolute;
  left:245px;
  top:733px;
  width:253px;
  height:32px;
  color:#FF0000;
}
#u10230 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u10231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u10231 {
  position:absolute;
  left:611px;
  top:868px;
  width:253px;
  height:16px;
  color:#FF0000;
}
#u10232 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u10233 {
  position:absolute;
  left:142px;
  top:1139px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10233_seg0 {
  position:absolute;
  left:-48px;
  top:-4px;
  width:48px;
  height:8px;
}
#u10233_seg1 {
  position:absolute;
  left:-48px;
  top:-917px;
  width:8px;
  height:921px;
}
#u10233_seg2 {
  position:absolute;
  left:-48px;
  top:-917px;
  width:226px;
  height:8px;
}
#u10233_seg3 {
  position:absolute;
  left:170px;
  top:-917px;
  width:8px;
  height:40px;
}
#u10233_seg4 {
  position:absolute;
  left:164px;
  top:-891px;
  width:20px;
  height:21px;
}
#u10234 {
  position:absolute;
  left:-94px;
  top:-570px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10235 {
  position:absolute;
  left:316px;
  top:857px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10235_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u10235_seg1 {
  position:absolute;
  left:-107px;
  top:45px;
  width:111px;
  height:8px;
}
#u10235_seg2 {
  position:absolute;
  left:-107px;
  top:45px;
  width:8px;
  height:43px;
}
#u10235_seg3 {
  position:absolute;
  left:-113px;
  top:74px;
  width:20px;
  height:21px;
}
#u10236 {
  position:absolute;
  left:-96px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10237 {
  position:absolute;
  left:316px;
  top:857px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u10237_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u10237_seg1 {
  position:absolute;
  left:-4px;
  top:45px;
  width:112px;
  height:8px;
}
#u10237_seg2 {
  position:absolute;
  left:100px;
  top:45px;
  width:8px;
  height:43px;
}
#u10237_seg3 {
  position:absolute;
  left:94px;
  top:74px;
  width:20px;
  height:21px;
}
#u10238 {
  position:absolute;
  left:-3px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10239 {
  position:absolute;
  left:266px;
  top:1658px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10240 {
  position:absolute;
  left:1728px;
  top:904px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u10241 {
  position:absolute;
  left:255px;
  top:566px;
  width:253px;
  height:16px;
  color:#FF0000;
}
#u10242 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
