body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.176470588235294);
  line-height:20px;
}
#u198 {
  position:absolute;
  left:30px;
  top:94px;
  width:470px;
  height:343px;
  line-height:20px;
}
#u199 {
  position:absolute;
  left:2px;
  top:164px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u200 {
  position:absolute;
  left:245px;
  top:125px;
  width:41px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:105px;
  top:180px;
  width:320px;
  height:36px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
}
#u203 {
  position:absolute;
  left:105px;
  top:242px;
  width:320px;
  height:36px;
}
#u203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
}
#u204 {
  position:absolute;
  left:105px;
  top:304px;
  width:163px;
  height:36px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:41px;
}
#u205 {
  position:absolute;
  left:278px;
  top:302px;
  width:124px;
  height:40px;
  color:#797979;
  line-height:20px;
}
#u206 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#282828;
  line-height:20px;
}
#u207 {
  position:absolute;
  left:105px;
  top:366px;
  width:320px;
  height:40px;
  color:#282828;
  line-height:20px;
}
#u208 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u209 {
  position:absolute;
  left:462px;
  top:114px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  line-height:20px;
}
#u210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u211 {
  position:absolute;
  left:462px;
  top:114px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  line-height:20px;
}
#u212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u213 {
  position:absolute;
  left:30px;
  top:30px;
  width:568px;
  height:40px;
  font-size:14px;
  line-height:20px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u215 {
  position:absolute;
  left:30px;
  top:464px;
  width:339px;
  height:20px;
  font-size:14px;
  line-height:20px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.176470588235294);
  line-height:20px;
}
#u217 {
  position:absolute;
  left:30px;
  top:494px;
  width:470px;
  height:343px;
  line-height:20px;
}
#u218 {
  position:absolute;
  left:2px;
  top:164px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u219 {
  position:absolute;
  left:245px;
  top:525px;
  width:41px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:105px;
  top:580px;
  width:320px;
  height:36px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
}
#u222 {
  position:absolute;
  left:105px;
  top:642px;
  width:320px;
  height:36px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
}
#u223 {
  position:absolute;
  left:105px;
  top:704px;
  width:163px;
  height:36px;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:41px;
}
#u224 {
  position:absolute;
  left:278px;
  top:702px;
  width:124px;
  height:40px;
  color:#797979;
  line-height:20px;
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#282828;
  line-height:20px;
}
#u226 {
  position:absolute;
  left:105px;
  top:766px;
  width:320px;
  height:40px;
  color:#282828;
  line-height:20px;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u228 {
  position:absolute;
  left:462px;
  top:514px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  line-height:20px;
}
#u229 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u230 {
  position:absolute;
  left:462px;
  top:514px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  line-height:20px;
}
#u231 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:20px;
}
#u232 {
  position:absolute;
  left:105px;
  top:615px;
  width:73px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:20px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:20px;
}
#u234 {
  position:absolute;
  left:105px;
  top:677px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:20px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:20px;
}
#u236 {
  position:absolute;
  left:105px;
  top:739px;
  width:73px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:20px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
